<!-- your html code here -->
<div class="row">
    <div class="col-10 mx-auto">
      <h1>Contact</h1>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi reiciendis laudantium impedit tenetur,
        quia cupiditate, magnam repudiandae tempora amet cumque beatae. Obcaecati voluptatibus sed, aut dolorem
        quibusdam excepturi amet atque.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-6 mx-auto bg-light py-3 bg-light border">
      <form>
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-2 col-form-label">Your E-mail</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Your Email">
          </div>
        </div>
        <div class="form-group row">
          <label for="exampleFormControlTextarea1" class="col-sm-2 col-form-label">Your message</label>
          <div class="col-sm-10">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">
              Please enter your message here...
          </textarea>
          <button type="submit" class="btn btn-primary mt-2 float-right">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>