<div class="row justify-content-center border-top mx-auto mt-5 py-5 w-75">
    <div class="col-6">
        <h1>This first heading will catch your eye</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Suscipit omnis numquam distinctio consequatur 
            voluptatem laboriosam quidem ad excepturi. Corrupti, modi.
        </p>
    </div>
    <div class="col-4">
        <img class="rounded-circle" style="height: 250px;" src="./assets/img/1.jpg" alt="">
    </div>
</div>