    <div class="row justify-content-center mx-auto mt-5 py-5 w-75">
        <div class="col-10">
            <h1>Portfolio</h1>
        </div>
    </div>
    <div class="row w-75 mx-auto justify-content-center">
        <div class="col-10">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore
                magna aliqua. Turpis tincidunt id aliquet risus feugiat in ante metus dictum. Amet volutpat consequat
                mauris
                nunc congue nisi. Sem fringilla ut morbi tincidunt augue interdum velit euismod. Nibh cras pulvinar
                mattis nunc
                sed</p>
        </div>
    </div>
    <div class="row w-75 mx-auto justify-content-center">
        <div class="col-sm-3 col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="assets/img/big-project-image.png"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Project Name</h5>
                    <p class="card-text small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Turpis tincidunt id aliquet risus feugiat in ante
                        metus dictum.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="assets/img/big-project-image.png"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Project Name</h5>
                    <p class="card-text small">Amet volutpat consequat mauris nunc congue nisi. Sem fringilla ut morbi
                        tincidunt augue interdum velit euismod. Nibh cras pulvinar mattis nunc sed. Viverra ipsum nunc
                        aliquet bibendum enim facilisis. Nec dui nunc mattis enim ut tellus. Amet consectetur adipiscing
                        elit pellentesque habitant morbi.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="assets/img/big-project-image.png"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Project Name</h5>
                    <p class="card-text small">Lacus suspendisse faucibus interdum posuere lorem ipsum dolor. Non consectetur
                        a erat nam at lectus urna duis. Et netus et malesuada fames. Senectus et netus et malesuada
                        fames ac turpis. Risus nullam eget felis eget nunc lobortis mattis aliquam.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>